doctype html
html(lang="pt-br")
    head
        title= pageTitle

    body
        h1= pageTitle
        ul
            each instituicao in instituicoes
                each item in instituicao
                    li= item
                li= '==================='


// Caso alguem mecha, importante, o webservice mudou, não é mais em java.
// Agora foi escrito todo em Node e já tem a rota que traz os hospitais mais próximos
// Para clonar o repositório ele se encontra no link
// https://github.com/YuriSS/lds-webservice
// Só ira funcionar a aplicação se rodar esse novo webservice