doctype html
html(lang="pt-br")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= pageTitle
        include ./helpers/styles.jade

    body
        div(class="map")
            div(id="map")
            
        div(class="content")
            h1= pageTitle
            p
                |Lorem molestias dolores quos odit dolorum. Numquam vel beatae ullam facere ipsum nulla tenetur repudiandae consequuntur? Vero architecto beatae fugiat saepe sit vel molestias hic eius ipsa. Voluptatem expedita eum?
            button(class="btn btn-primary permicao", data-permicao="1")
                |Permitir
            button(class="btn btn-primary permicao", data-permicao="0")
                |Não permitir

        include ./helpers/scripts.jade
