div(class="logo")
    img(src="images/LinhaSaude.png" alt="Linha Saúde") 
form(name="formInstitution")
    div(class="form-group")
        label(for="instituicao")
                |Informe o nome.
        input(type="text" class="form-control" name="name" placeholder="instituição")

    div(class="form-group")
        label(for="tipo")
            |Escolha o tipo da Instituição de Saúde. 
        select(class="form-control" name="type" placeholder="Selecione o tipo...")
            option
                |Selecione o tipo...
            option
                |Hospital Convênio
            option
                |Hospital Infantil
            option
                |Hospital Particular
            option
                |Hospital Público
            option
                |Hospital Psiquiátrico
            option
                |Psiquiatra
            option
                |Unidade Básica de Saúde
            option
                |Unidade de Pronto Atendimento
            option
                |Clínica Gratuita
            option
                |Clínica Particular
            option
                |Clínica Convênio
            option
                |Clínica Geral
            option
                |Centro Médico
            option
                |Centro Médico Público
            option
                |Cardiologista
            option
                |Instituto do Câncer
            option
                |Otorrinolaringologista
            option
                |Consultor de Saúde
            option
                |Assistência Médica
            option
                |Associação ou Organização
    
    div(class="form-group")
        label(for="latitude")
            |Informe o endereço da Instituição de Saúde. 
        input(type="text" class="form-control" name="address" id="endereco" placeholder="endereço") 

    div(class="form-group")
        label(for="latitude")
            |Informe o telefone da Instituição de Saúde. 
        input(type="text" class="form-control" name="phone" id="telefone" placeholder="telefone") 

    //div(class="form-group")
        //label(for="latitude")
            //|Informe a coordenada de localização - latitude. 
        //input(type="text" class="form-control" name="latitude" id="latitude" placeholder="latitude") 

    //div(class="form-group")
        //label(for="longitude")
            //|Informe a coordenada de localização - longitude. 
        //input(type="text" class="form-control" name="longitude" id="longitude" placeholder="longitude") 

    button(class="btn btn-primary pull-right" type="submit" name="submit_cadinst" id="submit_cadinst")
            |Cadastrar
