header(class="header", id="header")
    div(class="col-xs-4")
        h1(class="logo-header")
            img(src="images/LinhaSaude-small-icon.png")
    div(class="col-xs-8")
        button(class="btn btn-default pull-right", id="institution_subscribe" disabled)
            |Cadastrar Instituicao
