script(src="vendor/jquery-2.1.4.min.js")
script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB54JUIafv5EflMEoaZD8I8S4oRIp7W-s")
script(src="vendor/jquery/src/jquery.js")
script(src="js/main.js")
script(src="js/mapa.js")
