script(src="js/main.js")
script(src="js/mapa.js")

script().
    lds.init(!{JSON.stringify(instituicoes)});

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB54JUIafv5EflMEoaZD8I8S4oRIp7W-s&callback=lds.map.initMap")

script(src="//localhost:35729/livereload.js")
